<p>
  Add New :
</p>

  <div>
    <input name="data" placeholder="id" ng-model="id" required>
    <input name="data" placeholder="first name" ng-model="firstname" required>
    <input name="data" placeholder="last name" ng-model="lastname" required>
    <input name="data" placeholder="email id" ng-model="email" required>
    <input name="data" placeholder="phone number" ng-model="phone_number" required>
    <input name="data" placeholder="date of birth" ng-model="date_of_birth" required>
    <input name="data" placeholder="designation" ng-model="designation" required>
    <button ng-submit="Submit">Submit</button>
  </div>
  
